.app {
  height: 100vh;
}

.links {
  display: flex;
  align-items: center;
}

.links h1 {
  margin-right: 2rem;
}

.links p {
  margin-right: 1rem;
  color: gray;
}

.checkout {
  display: flex;
  align-items: center;
}

.mainDiv {
  display: flex;
  height: 40rem;
  width: 80%;
  margin: auto;
}
