.navContainer {
  height: 50px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px lightgray solid;
}

.links {
  display: flex;
  align-items: center;
}

.links h1 {
  margin-right: 2rem;
  cursor: pointer;
}

.links p {
  margin-right: 1rem;
  color: gray;
  cursor: pointer;
}
/* 
.checkout {
  position: absolute;
} */

.checkout span {
  background-color: orange;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -3px;
  margin-bottom: 10px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 10px;
}

.logo {
  color: black;
  font-size: x-large;
}

.profilePic {
  height: 2rem;
}

.profilePic:hover {
  border: solid 2px darkorange;
  border-radius: 50%;
  cursor: pointer;
}

.profileCart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.relative {
  position: relative;
}
